// Хлебные крошки ===============================================================================================================================================
.breadcrumbs {
	white-space: nowrap;
	overflow: auto;
}

.breadcrumbs::-webkit-scrollbar {
	display: none;
}

.breadcrumbs::-webkit-scrollbar-thumb {
	display: none;
}

.breadcrumbs__inner {
	display: flex;
	align-items: center;

	a {
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		color: rgba(2, 0, 32, 0.5);
		text-decoration: none;
		white-space: nowrap;
		margin: 0 5px;
		transition: $mainTransition;

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			color: #221F20;
		}
		@media (max-width: 480px){
			font-size: 12px;
			line-height: 16px;
		}
	}

	span {
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		color: $mainColor;
		margin-left: 5px;
		white-space: nowrap;
		@media (max-width: 480px){
			font-size: 12px;
			line-height: 16px;
		}
	}
}
//========================================================================================================================================================

.pagging {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagging__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex: 0 0 rem(20);
	width: rem(20);
	height: rem(20);
	background: #F0F2F8;
	&::before{
		font-size: rem(8);
	}
}
.pagging__list {
	display: flex;
	align-items: center;
}
.pagging__item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(22, 16);
	letter-spacing: 0em;
	flex: 0 0 rem(20);
	width: rem(20);
	height: rem(20);
	margin: 0 rem(10) 0 rem(10);
	transition: $mainTransition;

	@media (max-width: 540px){
		font-size: rem(14);
		margin: 0 rem(3) 0 rem(3);
	}

	@media (any-hover: hover) {
	&:hover {
		background: #F0F2F8;
	}
	}
	&._active {
		background: #F0F2F8;
	}
}

