//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 14.5px 23.7px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: $blueColor;
	border-radius: 3px;
	transition: $mainTransition;
	@media (any-hover: hover) {
	&:hover {
		background: $mediumGrey;
	}
	}
	&.fw {
		width: 100%;
	}
	&::before{
		margin-top: -2px;
		margin-right: 10px;
		font-size: 20px;
	}
}

.btn_light {
	color: $mainColor;
	background: $lightGrey;
}
