.template__empty {
	padding: 50px 0 78px 0;
	@media (max-width: 991px){
		  padding-top: 85px;
	}
	@media (max-width: 540px){
		  padding: 45px 0;
	}
}
.empty-template {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.empty-template__body {
	position: relative;
}
.empty-template__image {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 350px;
	height: 350px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;
	@media (max-width: 540px){
		width: 245px;
		height: 245px;
	}
}
.empty-template__title {
	&:not(:last-child){
		margin-bottom: 10px;
	}
	@media (max-width: 540px){
		font-size: 26px;
		line-height: 33px;
	}
}
.empty-template__subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	@media (max-width: 540px){
		font-size: 14px;
		line-height: 20px;
	}
}
.empty-template__link {
	min-width: 345px;
	margin-top: 40px;
	@media (max-width: 480px){
		min-width: auto;
		  width: 100%;
		  margin-top: 20px;
	}
}
//========================================================================================================================================================

.bascet {
}

.bascet__order-detail {
	.order-detail__control {
		&:not(:last-child){
			margin-bottom: rem(25);
		}
  }
	.order-detail__back-btn {
		display: flex;
		align-items: center;
		font-size: rem(16);
		font-weight: 400;
		line-height: math.div(22, 16);
		color: $mainColor;
		&::before{
				margin-right: rem(10);
		}
		transition: $mainTransition;
	
		@media (any-hover: hover) {
		&:hover {
			color: $blueColor;
		}
		}
	}
	.item-card-order__main {
		flex: 0 1 auto;
		flex-wrap: nowrap;
  }
  .item-card-order__quantity {
	&:not(:last-child){
		margin-right: rem(25);
	}
  }
  .item-card-order__icons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding: 10px;
}
.item-card-order__icon {
	&:not(:last-child){
		margin-bottom: rem(10);
	}
	&::before{
		color: rgba(2, 0, 32, 0.3);
	}
}
.item-card-order .quantity-item-card {
	flex: 1 1 auto;
	justify-content: center;
	@media (max-width: 1200px){
		 flex-wrap: wrap; 
	}
	@media (max-width: 1100px){
		  margin-top: rem(20);
	}
	@media (max-width: 730px){
		justify-content: start; 
	}
	@media (max-width: 480px){
		 width: 100%; 
		 margin-right: 0;
		 flex-wrap: nowrap;
	}
}
.item-card-order__descp {
	max-width: 400px;
}
.item-card-order {
	position: relative;
	@media (max-width: 1100px){
		  flex-wrap: wrap;
	}
	@media (max-width: 991px){
		flex-wrap: nowrap;
 }
 @media (max-width: 730px){
	flex-wrap: wrap;
}
}
.item-card-order__total {
	padding-right: rem(20);
}
.cards-order-detail__items .item-card-order__total {
	@media (max-width: 540px){
		 flex-direction: row; 
		 justify-content: start;
	}
}
.quantity-item-card__item {
	@media (max-width: 480px){
		justify-content: space-between;
		width: 100%;
	}
}
.quantity {
	@media (max-width: 480px){
		 width: 100%; 
	}
}
}

