//====================================================================================================
.header {
	position: relative;
	z-index: 5;
	padding: 10px 0;
	// background-color: #fff;
	&__wrapper {
	}

	&__container {
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap; 
	}

	&__col {
		display: flex;
		align-items: center;
		// *:last-child {
		// 	margin: 0;
		// }
		&:not(:last-child){
			margin-right: 25px;
		}
	}

	&__logo {
		margin-right: 40px;
	}

	&__menu {
	}

	&__item {
		&:not(:last-child){
			margin-right: 20px;
		}
		&_address {
		}

		&_phone {
		}

		&_email {
		}
	}

	&__main {
	}

	&__bottom {
	}
}

.header__inner {
	background-color: #fff;
}

.header__item {
	display: flex;
	align-items: center;
	&::before{
		margin-right: 10px;
	}
}

.logo-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 167px;
	height: 53px;
	overflow: hidden;
	svg {
		width: 100%;
		height: 100%;
		flex: 0 1 100%;
	}
}

.menu {
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		li {

		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0px 3px;
		padding: 5px 0px;
		position: relative;
		&:not(:last-child){
			margin-right: 20px;
		}
		@media (any-hover: hover){ //Стили будут работать на устройствах, где есть мышь
			&:hover{
			 .menu__sub-list {
				 transform: translate(0px, 0px);
				 opacity: 1;
				 visibility: visible;
				 pointer-events: auto;
			 }
			 .menu__arrow {
				 transform: rotate(-180deg);
			 }
			 .menu__arrow,
			 .menu__link {
				 color: $mainColor;
			 }
			}
	 }
	 @media (min-width: 768px){
		&._hover {
		 .menu__sub-list {
			 transform: translate(0px, 0px);
			 opacity: 1;
			 visibility: visible;
			 pointer-events: auto;
		 }
		 .menu__arrow {
			 transform: rotate(-180deg);
		 }
		 .menu__arrow,
		 .menu__link {
			//  color: $orangeColor;
		 }
		}
	 }
	 @media (max-width: 768px){
			margin: 0px 0px 15px 0px;
			&:last-child{
			 margin-bottom: 0;
			}
	 }
	}

	&__link {
    	color: rgba(2, 0, 32, 0.7);
    	transition: $mainTransition;
	}
	&__arrow {
		margin: 0px 0px 0px 8px;
		transition: all 0.3s ease 0s;
		font-size: 10px;
	}
	&__sub-list {
		position: relative;
		// background-color: $orangeColor;
		padding: 15px;
		flex: 1 1 100%;
		@media (min-width: 768px){
			//Скрываем меню
			opacity: 0;
			visibility: hidden;
			transform: translate(0px, 10px);
			transition: all 0.3s ease 0s;
			min-width: 250px;
			position: absolute;
			left: 0;
			top: 100%;
			z-index: 5;
			pointer-events: none;
		}
		@media (max-width: 768px){
			 margin: 10px -15px 0px -15px; 
		}
	}
}

.header__main {
	display: flex;
	align-items: center;
	padding: 10px 0 17px 0;
	bgc
	.catalog-btn {
		margin-right: 10px;
	}
	*:last-child {
		margin-right: 0;
	}
}
.header__search {
	flex: 1 1 auto;
	margin-right: 10px;
}
.actions-header {
	display: flex;
	align-items: center;
	&__item {
		&:not(:last-child){
			margin-right: 10px;
		}
	}
}

.header__bottom {
	background-color: transparent;
}
.bottom-header-menu {
	.menu__list {
		justify-content: space-between;
	}
	.menu__sub-list {
		min-width: 285px;
	}
	.menu__item {
		@media (any-hover: hover){ //Стили будут работать на устройствах, где есть мышь
			&:hover{
			 .menu__arrow,
			 .menu__link {
				 color: $blueColor;
			 }
			}
	 }
	}
	.menu__link {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: $mainColor;
		svg {
			flex: 0 0 24px;
			width: 24px;
			height: 24px;
			margin-right: 10px;
		}
	}

}

.menu__link._color-red {
		color: #FF2E00;
  }

.menu {
}
.menu__list {
}
.menu__item {
}

.menu__arrow {
}
._icon-arrow-down {
}
._color-red {
}


//====================================================================================================

//Burger
.icon-menu {
	display: none;
	// @media (max-width: $mobile) {
		display: block;
		position: relative; 
		width: 17px;
		height: 17px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
// }





