//====================================================================================================
.header {
	position: relative;
	z-index: 5;
	padding: 10px 0;
	background-color: #fff;
	&__wrapper {
	}

	&__container {
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__col {
		display: flex;
		align-items: center;
		*:last-child {
			margin: 0;
		}
		&:not(:last-child){
			margin-right: 25px;
		}
	}

	&__logo {
		margin-right: 40px;
	}

	&__menu {
	}

	&__item {
		&:not(:last-child){
			margin-right: 20px;
		}
		&_address {
		}

		&_phone {
		}

		&_email {
		}
	}

	&__main {
	}

	&__bottom {
	}
}

.menu {
	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		li {
			&:not(:last-child){
				margin-right: 20px;
			}
		}
	}

	&__item {
	}

	&__link {
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative; 
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
