
.personal {
	.tabs__navigation {
		@media (max-width: 768px){
			 display: none; 
		}
	}
	.template__tabs .tabs__content {
		@media (max-width: 768px){
			 padding-top: 0; 
		}
	}
}

.personal-content {
}

.personal-content__inner {
	display: flex;
	justify-content: space-between;
	@media (max-width: 1024px){
		  flex-direction: column;
	}
}
.personal-content__column {
	flex: 0 1 48%;
	@media (max-width: 1024px){
		 flex: 0 1 100%;
		 &:not(:last-child){
			margin-bottom: rem(30);
		 } 
	}
}
.personal-content__item {
	&:not(:last-child){
		margin-bottom: rem(40);
	}
}
.item-personal {
}
.item-personal__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:not(:last-child){
		margin-bottom: rem(15);
	}
}
.item-personal__title {
	font-size: rem(24);
	font-weight: 500;
	line-height: math.div(31, 24);
	letter-spacing: 0em;
	@media (max-width: 480px){
	font-size: rem(18);
	line-height: math.div(23, 18);
	}
}
.item-personal__buttons {
	display: flex;
	align-items: center;
}
.item-personal__btn {
	color: rgba(2, 0, 32, 0.3);
	&:not(:last-child){
		margin-right: rem(10);
	}
}
._icon-edit {
}
.item-personal__body {
}
.item-personal__form {
}
.form-personal {
	border-radius: 3px;
	overflow: hidden;
	.input {
		background: rgba(240, 242, 248, 1);
		border-radius: 0px;
	}
}
.form__line {
}
.form-personal__input {
}
.input {
}
.input__label {
}
.header-personal {
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: rem(20);
}
.header-personal__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
		margin-top: rem(15);
}
.item-personal__subtitle {
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(22, 16);
	letter-spacing: 0em;
	@media (max-width: 480px){
	font-size: rem(14);
	}
}
._icon-baskcet {
}
.body-personal {
}
.body-personal__item {
}
.body-personal__btn {
	width: 100%;
}

.personal-content__form {
	max-width: rem(503);
	@media (max-width: 1024px){
		  max-width: 100%;
	}
}
.forn-personal {
	width: 100%;
}
.form__line {
}
.forn-personal__input {
	&:not(:last-child){
		margin-bottom: rem(10);
	}
}
.input {
}
.input__label {
}
.input__viewpass {
}
._icon-hide {
}
.forn-personal__btn {
	width: 100%;
}

.personal-content__orders {
}
.orders-personal {
	display: flex;
	flex-direction: column;
}
.orders-personal__item {
	&:not(:last-child){
		margin-bottom: rem(10);
	}
}
.item-orders {
	display: flex;
	flex-direction: column;
}
.item-orders__header {
	display: flex;
	// flex-wrap: wrap;
	justify-content: space-between;
	padding: rem(20);
	background: rgba(240, 242, 248, 1);
}
.item-orders__numbering {
	&:not(:last-child){
		margin-right: rem(15);
	}
}
.numbering-orders {
}
.numbering-orders__number {
	font-size: rem(24);
	font-weight: 500;
	line-height: math.div(31, 24);
	&:not(:last-child){
		margin-bottom: rem(5);
	}
	@media (max-width: 480px){
		  font-size: rem(18);
	}
}
.numbering-orders__data {
	font-size: rem(16);
	line-height: math.div(22, 16);
	color: rgba(2, 0, 32, 0.5);
	@media (max-width: 480px){
		  font-size: 14px;
	}
}
.item-orders__prices {
}
.prices-orders {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.prices-orders__price {
	font-size: rem(24);
	font-weight: 500;
	line-height: math.div(31, 24);
	&:not(:last-child){
		margin-bottom: rem(5);
	}
	@media (max-width: 480px){
		 font-size: rem(18); 
	}
}
.prices-orders__stickers {
}
.prices-orders__sticker {
	.sticker {
		@media (max-width: 480px){
			 font-size: rem(12); 
		}
	}
}
.sticker {
}
._red {
}


.item-orders__body {
	flex-wrap: wrap;
}
.body-orders {
	display: flex;
	justify-content: space-between;
	padding: rem(20);
	background-color: #fff;
}
.body-orders__actions {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	&:not(:last-child){
		margin-right: rem(20);
		margin-bottom: rem(25);
	}
}
.body-orders__address {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(22, 16);
	// white-space: nowrap;
	span {
		color: rgba(2, 0, 32, 0.5);
		margin-right: rem(10);
	}
	&:not(:last-child){
		margin-bottom: rem(20);
	}
	@media (max-width: 480px){
		 font-size: rem(14); 
	}
}
.body-orders__buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.body-orders__button {
	font-size: rem(16);
	line-height: math.div(22, 16);
	color: rgba(18, 11, 141, 1);
	white-space: nowrap;
	&:not(:last-child){
		margin-right: rem(20);
	}
	transition: $mainTransition;

	@media (any-hover: hover) {
	&:hover {
		color: $mainColor;
	}
}
@media (max-width: 480px){
	 font-size: 14px; 
}
}
.body-orders__button_reset {
}
.body-orders__images {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.body-orders__img {
	display: flex;
	// justify-content: center;
	// align-items: center;
	flex: 0 0 rem(72);
	width: rem(72);
	height: rem(64);
	border-radius: rem(3);
	overflow: hidden;
	&:not(:last-child){
		margin-right: rem(5);
	}
	margin-bottom: rem(5);
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: center;
	}
	@media (max-width: 480px){
		flex: 0 0 rem(50);
		width: rem(50);
		height: rem(50); 
	}
}