@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons"; 

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Onest";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета


// Основные цвета
$mainBgColor: #fbfbfb;
$mainColor: #020020; // Цвет шрифта по умолчанию   
$blueColor: #120B8D; 
$redColor: #FF2E00;
$greenColor: #00BF36;
$darkColor: #02002080;
$lightGrey: #F0F2F8;
$mediumGrey: #120B8D33;

// Анимации
$mainTransition: all 0.6s ease 0s; // Главная анимация

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1410;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	background-color: $mainBgColor;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Сайт загружен
	.loaded & {
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

// Подключение стилей отдельных страниц
@import "ui-kit";

//========================================================================================================================================================

// Product-card 
.flex__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
}
.flex__column {
	display: flex;
	padding: 0 25px 50px 25px;
	flex: 0 1 27.82%;
	overflow: hidden;
}
.card-product {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 3px;
	flex: 0 1 100%;
	padding: 10px;
	overflow: hidden;
	@media (any-hover: hover) {
		&:hover {
			.image-card-product__icons {
				opacity: 1;
				visibility: visible;
			}
			// ._bg-card-prod {
			// 	background-size: 105%;
			// }
		}
		}
}
.card-product__image {
	position: relative;
	margin-bottom: 15px;
	overflow: visible !important;
}
.image-card-product {
}
.image-card-product__stikcers-block {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.sticker-block {
}
// .sticker {
// }
// ._dark-blue {
// }
// ._red {
// }
// ._green {
// }
.image-card-product__icons {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: $mainTransition;
}
.icons-card-product {
}
.icons-card-product__icon {
	&:not(:last-child){
		margin-bottom: 5px;
	}
}
.icon-card-product {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	&::before{
		color: rgba(2, 0, 32, 0.3);
	}
}
.favorite-icon {
}
._icon-favorite {
}
.zoom-icon {
}
._icon-search-plus {
}
.image-card-product__slider {
}
.image-card-product {
		min-width: 0;
}
.slider-card-product__slide {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	padding-bottom: 127%;
}
.card-product__body {
	flex: 1 1 auto;
	margin-bottom: 15px;
}
.body-card-product {
}
.body-card-product__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.body-card-product__item {
	&:not(:last-child){
		margin-right: 10px;
	}
}
.availability-card {
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
}
.article-card {
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
color: rgba(2, 0, 32, 0.5);
}
.body-card-product__title {
	line-height: 22.4px;
	margin-bottom: 10px;
	// margin: 0 0 10px/16px * 1em 0px;
}
.body-card-product__size {
	margin-bottom: 15px;
}
.size-product-card {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0em;
	padding: 3px 6px;
	border-radius: 3px;
	background-color: $lightGrey;
}
.body-card-product__price {

}
.price-card-product {
}
.price-card-product__name {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 5px;
	color: rgba(2, 0, 32, 0.5);
}
.price-card-product__row {
	display: flex;
	align-items: center;
}
.price-card-product__new-price {
	margin-right: 10px;
}
.new-price-card {
	font-size: 30px;
	font-weight: 500;
	line-height: 38px;
	color: $mainColor;
}
.rub {
}
.price-card-product__old-price {
}
.old-price-card {
font-size: 16px;
font-weight: 400;
line-height: 22px;
color: rgba(2, 0, 32, 0.5);
text-decoration: line-through $redColor;
}
.card-product__actions {
}
.actions-card-product {
}
.actions-card-product__bascket-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.actions-card-product__quantity {
	margin-right: 5px;
	flex: 1 1 auto;
	margin-bottom: 5px;
}
.quantity {
}
.quantity__button {
}
.quantity__button_minus {
}
.quantity__input {
}
.quantity__button_plus {
}
.actions-card-product__btn-bascket {
	flex: 1 1 auto;
	margin-bottom: 5px;
}
.actions-card-product__btn {
	width: 100%;
}
.btn {
}
._icon-baskcet {
}

._color-green {
	color: $greenColor;
}
._color-red {
	color: $redColor;
}
//========================================================================================================================================================

.product-cards-block {
}
.product-cards-block__navigation-panel {
	margin-bottom: 40px;
}
.navigation-panel-product {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.navigation-panel-product__title {
	font-size: 32px;
	font-weight: 500;
	line-height: 41px;
}
.navigation-panel-product__actions {
	display: flex;
	align-items: center;
}
.navigation-panel-product__link {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: rgba(2, 0, 32, 0.7);
	margin-right: 30px;
	transition: $mainTransition;
	@media (any-hover: hover) {
		&:hover {
			color: $mainColor;
		}
		}
}
.navigation-panel-product__arrow-block {

}
.arrow-block-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 95px;
	.arrow-sl-btn {
		flex: 0 0 45px;
		height: 45px;  
	}
}
.arrow-sl-btn {
}
._icon-arrow-sl-left {
}
._icon-arrow-sl-right {
}

.slider-cards-block {
	.swiper-slide {
		display: flex;
	}
	.btn {
		padding-left: 21px;
		padding-right: 21px;
	}
}