@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons"; 

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Onest";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета


// Основные цвета
$mainBgColor: #fbfbfb;
$mainColor: #020020; // Цвет шрифта по умолчанию   
$blueColor: #120B8D; 
$redColor: #FF2E00;
$greenColor: #00BF36;
$darkColor: #02002080;
$lightGrey: #F0F2F8;
$mediumGrey: #120B8D33;

// Анимации
$mainTransition: all 0.6s ease 0s; // Главная анимация

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1410;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	background-color: $mainBgColor;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Сайт загружен
	.loaded & {
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
		padding-bottom: 50px;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

// Подключение стилей отдельных страниц
@import "ui-kit";
@import "template";
@import "catalog-root";

//========================================================================================================================================================

.page__main-sliders {
	padding: 30px 0 50px 0;
	@media (max-width: 768px){
		padding: 30px 0 40px 0;
	}
	@media (max-width: 480px){
		padding: 30px 0 30px 0;
	}
	@media (max-width: 375px){
		padding: 25px 0 30px 0;
	}
}
.main-sliders {

}

.main-sliders__inner {
	display: flex;
	justify-content: space-between;
	min-height: 424px;
	@media (max-width: 991px){
		  flex-wrap: wrap;
	}
}
.main-sliders__big-slider {
	flex: 0 1 1055px;
	&:not(:last-child){
		margin-right: 10px;
	}
	@media (max-width: 991px){
		  &:not(:last-child){
			margin-right: 0; 
			margin-bottom: 10px;
		  }
	}
}
.main-slider-big {
	position: relative;
	display: flex;
}
.swiper {
}
.swiper-wrapper {
}
.main-slider-big__slide {
	display: flex;
	align-items: center;
	padding: 60px;
	// background-color: rgba(240, 242, 248, 1);
	width: 100%;
	height: 100%;
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	@media (max-width: 991px){
		  padding: 50px 60px;
	}
	@media (max-width: 768px){
		padding: 50px 20px;
	}
	@media (max-width: 414px){
		padding: 35px 20px;
	}
}
.swiper-slide {
}
.main-slider-big__arrow-block {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
	width: 95px;
	@media (max-width: 991px){
		  display: none;
	}
	.arrow-sl-btn {
		width: 45px;
		background-color: #fff;
	}
}

.main-slider-big__dotts {
	display: none;
	position: absolute;
	padding: 5px;
	border-radius: 3px;
	background-color: #fff;
	overflow: hidden;
	@media (max-width: 991px){
		 display: flex; 
		 top: 20px;
		 right: 20px;
	}
	@media (max-width: 375px){
	top: auto;
	right: auto;
	left: 50%;
	bottom: 10px;                  
   transform: translate(-50%, 0%);
	}
	.swiper-pagination-bullet {
		flex: 0 0 5px;
		width: 5px;
		height: 5px;
  }
}

.arrow-block-navigation {
}
.arrow-sl-btn {
}
.arrow-sl-btn_next {
}
._icon-arrow-sl-left {
}
.arrow-sl-btn_prev {
}
._icon-arrow-sl-right {
}
.main-slider-big__descp {
	max-width: 400px;
}
.main-slider-big__title {
font-size: 60px;
font-weight: 500;
line-height: 64px;
letter-spacing: 0em;
&:not(:last-child){
	margin-bottom: 20px;
}
@media (max-width: 768px){
	  font-size: 52px;
    line-height: 56px;
}
@media (max-width: 612px){
	  font-size: 36px;
	  line-height: 1.2;
	  &:not(:last-child){
		margin-bottom: 10px;
	  }
}
@media (max-width: 540px){
	  	  font-size: 28px;
}
@media (max-width: 414px){
	font-size: 26px;
}
}
.main-slider-big__subtitle {
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
color: rgba(2, 0, 32, 0.7);
&:not(:last-child){
	margin-bottom: 40px;
}
@media (max-width: 768px){
	  &:not(:last-child){
		margin-bottom: 30px;
	  }
}
}
.main-slider-big__link {
}
.btn {
}
// ==================================================

.main-sliders__small-slider {
	flex: 0 0 345px;
	@media (max-width: 991px){
		flex: 0 1 100%;
	}
}
.main-slider-small {
	position: relative;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
}
.swiper {
}
.main-slider-small__arrow-block {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
	width: 95px;
	@media (max-width: 991px){
		  display: none;
	}
	.arrow-sl-btn {
		width: 45px;
		background-color: #fff;
	}
}
.arrow-block-navigation {
}
.arrow-sl-btn {
}
.arrow-sl-btn_next {
}
._icon-arrow-sl-left {
}
.arrow-sl-btn_prev {
}
._icon-arrow-sl-right {
}

.main-slider-small__dotts {
	display: none;
	padding: 5px;
	margin-top: 10px;
	justify-content: center;
	border-radius: 3px;
	@media (max-width: 991px){
		 display: flex; 
	}
	.swiper-pagination-bullet {
		flex: 0 0 5px;
		width: 5px;
		height: 5px;
  }
}

.main-slider-small__sticker-stock {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2;
	display: flex;
	align-items: center;
font-size: 20px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
color: $redColor;
	svg {
		width: 45px;
		height: 45px;
		flex: 0 0 45px;
		margin-right: 10px;
	}
	@media (max-width: 540px){
		  display: none;
	}
}
._color-red {
}
.swiper-wrapper {
}
.main-slider-small__slide {
	position: relative;
	width: 100%;
	height: 100%;
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important; 
}
.swiper-slide {
}
.main-slider-small__descp {
	padding: 85px 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@media (max-width: 991px){
		padding: 73px 20px 35px 20px;
	}
	@media (max-width: 540px){
		  padding: 30px 20px;
	}
}
.main-slider-small__title {
font-size: 60px;
font-weight: 500;
line-height: 76px;
letter-spacing: 0em;
&:not(:last-child){
	margin-bottom: 5px;
}
@media (max-width: 768px){
	font-size: 52px;
  line-height: 56px;
}
@media (max-width: 612px){
	  font-size: 36px;
	  line-height: 1.2;
}
@media (max-width: 540px){
	  	  font-size: 28px;
}
@media (max-width: 414px){
	font-size: 26px;
}
}
.main-slider-small__subtitle {
font-size: 16px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
color: rgba(2, 0, 32, 0.7);
&:not(:last-child){
	margin-bottom: 13px;
}
}
.main-slider-small__sticker {

}
.sticker-stock-slider {
	background-color: $redColor;
	padding: 2px 15px;
margin-left: auto;
margin-right: -20px;
transform: skew(0, -10deg);
}
.sticker-stock-slider__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
font-size: 32px;
font-weight: 500;
line-height: 41px;
letter-spacing: 0em;
color: #fff;
overflow: hidden;
transform: rotate(8deg);
	span {
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		letter-spacing: 0em;
		}
		@media (max-width: 991px){
			  font-size: 26px;
		}
		@media (max-width: 768px){
			  font-size: 20px;
			  line-height: 1.1; 
			  span {
				font-size: 12px;
			  }
		}
}
//========================================================================================================================================================

.page__advantages {
	padding: 50px 0;
	@media (max-width: 768px){
		padding: 40px 0;
	}
	@media (max-width: 480px){
		padding: 30px 0;
	}
}
.advantages { 
}
.advantages__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	@media (max-width: 480px){
		flex-wrap: nowrap;
		margin: 0;
		overflow: auto;
		width: auto;
		margin: 0 -15px;
		padding: 0 10px;
	}
}
.advantages__col {
	display: flex;
	flex: 0 1 33.333%;
	padding: 0 5px 10px 5px;
	@media (max-width: 1050px){
		  flex: 0 1 50%;
	}
	@media (max-width: 480px){
		  flex: 0 0 80%;
	}
	@media (max-width: 375px){
		flex: 0 0 76%;
	}
}
.advantages__card {

}
.card-advantages {
	display: flex;
	flex: 0 1 100%;
	background-color: #F1F0F8;
	border-radius: 3px;
	overflow: hidden;
	@media (max-width: 630px){
		  flex-direction: column;
	}
}
.card-advantages__descp {
	flex: 1 1 auto;
	padding: 20px 15px 20px 20px;
	@media (max-width: 480px){
		  padding: 15px;
	}
}
.card-advantages__title {
font-size: 20px;
font-weight: 500;
line-height: 25px;
&:not(:last-child){
	margin-bottom: 10px;
}
@media (max-width: 812px){
	font-size: 16px;
	line-height: 20px;
}
}
.card-advantages__text {
font-size: 14px;
font-weight: 400;
line-height: 18px;
&:not(:last-child){
	margin-bottom: 10px;
}
@media (max-width: 812px){
font-size: 12px;
line-height: 16px;
}
}
.card-advantages__img {
	flex: 0 0 226px;
	padding: 9.5px 0 9.5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 1366px){
		flex: 0 0 173px;
	}
	@media (max-width: 1050px){
		  flex: 0 0 200px;
	}
	@media (max-width: 812px){
		  flex: 0 0 173px;
	}
	@media (max-width: 630px){
		flex: 1 1 auto;
		width: 65%;
		padding: 0;
	}
	@media (max-width: 375px){
		  width: 63%;
	}
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
//========================================================================================================================================================

.page__contacts {
	padding: 50px 0;
	@media (max-width: 860px){
		  padding: 40px 0;
	}
	@media (max-width: 480px){
		  padding: 30px 0;
	}
}
.contacts {
}
.contacts__inner {
display: flex;
@media (max-width: 860px){
	  flex-direction: column;
}
}
.contacts__map {
flex: 1 1 auto;
border-radius: 3px;
overflow: hidden;
@media (max-width: 860px){
	  height: 400px;
	  &:not(:last-child){
		margin-bottom: 10px;
	  }
}
@media (max-width: 480px){
	  height: 400px;
}
}
.map {
}
.contacts__descp {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 0 0 345px;
	padding: 30px;
	border-radius: 3px;
	background: #F0F2F8;
	overflow: hidden;
		margin-left: 10px;
		@media (max-width: 1366px){
			  flex: 0 0 304px;
		}
		@media (max-width: 860px){
			flex: 0 1 100%;
			  margin-left: 0;
		}
}
.descp-contacts {
}
.descp-contacts__title {
font-size: 24px;
font-weight: 500;
line-height: 31px;
letter-spacing: 0em;
&:not(:last-child){
	margin-bottom: 30px;
}
@media (max-width: 1366px){
	  &:not(:last-child){
		margin-bottom: 20px;
	  }
}
@media (max-width: 768px){
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
	&:not(:last-child){
		margin-bottom: 20px;
	}
}
}

.descp-contacts__inner {
	@media (max-width: 768px){
		  display: flex;
		  justify-content: space-between;
		  width: 75%; 
	}
	@media (max-width: 612px){
		  width: 100%;
	}
	@media (max-width: 480px){
		  flex-direction: column;
	}
}

.descp-contacts__row {
	&:not(:last-child){ 
		margin-bottom: 30px;
	}
	@media (max-width: 768px){
		  &:not(:last-child){
			margin-right: 30px;
		  }
	}
	@media (max-width: 480px){
		  &:not(:last-child){
			margin-right: 0;
		  }
	}
}

.descp-contacts__subtitle {
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
color: rgba(2, 0, 32, 0.5);
&:not(:last-child){
	margin-bottom: 15px;
}
@media (max-width: 768px){
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
}

.descp-contacts__item {
	display: flex;
	align-items: center;
	&:not(:last-child){
		margin-bottom: 10px;
	}
	@media (max-width: 768px){
		  &:not(:last-child){
			margin-bottom: 5px;
		  }
	}
	a {
		display: flex;
		align-items: center;
		&::before{
			margin-right: 10px;
		}
		@media (max-width: 768px){
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}
}
.descp-contacts__item_sticker {
	margin-top: 15px;
	@media (max-width: 768px){
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
	}
}
.location-contacts {
}
._icon-location {
}
.phone-contacts {
}
._icon-telephone {
}
.email-contacts {
}
._icon-mail {
}
.sticker {
}
//========================================================================================================================================================

.page__order-call {
	padding: 50px 0 0 0;
	@media (max-width: 768px){
		  padding: 40px 0;
	}
	@media (max-width: 480px){
		  padding: 30px 0;
	}
}
.order-call {
}
.__container {
}
.order-call__inner {
	display: flex;
	align-items: center;
	padding: 30px 60px;
	border-radius: 3px;
	background: rgba(240, 242, 248, 1);
	overflow: hidden;
	@media (max-width: 1200px){
		  padding: 30px;
	}
	@media (max-width: 1150px){
		flex-direction: column;
		align-items: start;
	}
}
.order-call__descp {
	flex: 0 0 281px;
	&:not(:last-child){
		margin-right: 40px;
	}
	@media (max-width: 1150px){
		  flex: 0 1 100%;
		  &:not(:last-child){
			margin-bottom: 20px;
		  }
	}
}
.order-call__title {
font-size: 32px;
font-weight: 500;
line-height: 41px;
letter-spacing: 0em;
&:not(:last-child){
	margin-bottom: 5px;
}
@media (max-width: 768px){
	font-size: 26px;
	font-weight: 500;
	line-height: 33px;
}
}
.order-call__text {
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
color: rgba(2, 0, 32, 0.7);
@media (max-width: 768px){
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
}
.order-call__form {
	flex: 1 1 auto;
	@media (max-width: 1150px){
		  width: 100%;
	}
}
.form-order-call {
	display: flex;
	flex-direction: column;
	.form__line {
		display: flex;
		@media (max-width: 768px){
			  flex-wrap: wrap;
			  justify-content: space-between;
		}
	}
}

.form-order-call__input {
	&:not(:last-child){
		margin-right: 10px;
	}
	@media (max-width: 768px){
		  flex: 0 1 48.5%;
		  &:not(:last-child){
			margin-right: 0;
		  }
		  &:nth-child(1) {
			margin-right: 10px;
		  }
		  @media (max-width: 480px){
			flex: 0 1 100%;
			&:nth-child(1) {
				margin-right: 0px;
				margin-bottom: 10px;
			  }
		  }
	}
}
.input {
}
._form-error {
}
.input__label {
}
.form-order-call__btn {
	flex: 0 0 316px;
	&:not(:last-child){
		margin-left: 10px;
	}
	@media (max-width: 1366px){
		  flex: 0 0 261px;
	}
	@media (max-width: 768px){
		  width: 100%;
		  flex: 0 1 100%;
		  margin-left: 0;
		  margin-top: 10px;
	}
}
.btn {
}
.form-order-call__text {
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
color: rgba(2, 0, 32, 0.5);
	margin-top: 5px;
	a {
		text-decoration: underline;
		transition: $mainTransition;

		@media (any-hover: hover) {
		&:hover {
			text-decoration: none;
		}
		}
		@media (max-width: 768px){
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
		}
	}

}
//========================================================================================================================================================
.page__great-deals {
	padding: 50px 0;
	@media (max-width: 768px){
		  padding: 40px 0;
	}
	@media (max-width: 480px){
		  padding: 30px 0;
	}
	@media (max-width: 612px){
		.navigation-panel-product {
			flex-direction: column;
			align-items: flex-start;
	  }
	  .navigation-panel-product__actions {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-top: 15px;
  }
	}
}
.great-deals__navigation-panel {
	&:not(:last-child){
		margin-bottom: 40px;
	}
	@media (max-width: 768px){
		  &:not(:last-child){
			margin-bottom: 20px;
		  }
	}
}
//========================================================================================================================================================

.great-deals__navigation-panel-cat {
	&:not(:last-child){
		margin-bottom: 20px;
	}
	@media (max-width: 1024px){
		.form-cat-panel {
			flex-wrap: nowrap;
			width: auto;
			overflow: auto;
			margin: 0 -15px;
			padding: 0 10px;
			.cat-button__btn {
				width: 200px;
			}
		}
	}
	@media (max-width: 768px){
		.form-cat-panel {
			.cat-button__btn {
				min-width: 165px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
padding: 10px;
			}
	}
}
}
.navigation-panel-cat {
}
.navigation-panel-cat__form {
}
.form-cat-panel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.form-cat-panel__btn {
	&:not(:last-child){
		margin-right: 10px;
	}
	margin-bottom: 10px;
}
.cat-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: $mainTransition;

	@media (any-hover: hover) {
	&:hover {
		.cat-button__btn {
			color: #fff;
			background-color: $blueColor;
		}
	}
	}
}
.cat-button__input {
}
.cat-button__btn {
	position: relative;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
    padding: 11px 10px;
    background: rgba(240, 242, 248, 1);
    border-radius: 3px;
    overflow: hidden;
    transition: all .6s;
}
.cat-button input[type=radio]:checked+.cat-button__btn {
	color: #fff;
	background-color: $blueColor;
}
.cat-button__name {
}

