.page__ui-kit	{
	padding: 50px 0;
	background: #c8cbd178;
}

.ui-kit__inner {
	display: flex;
	flex-wrap: wrap;
}

.ui-kit__col {
	flex: 0 1 50%;
	margin-bottom: 25px;
}

// Заголовки
.ui-kit__title {
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 35px;
}

.ui-kit__inner {
	h1, h2, h3, h4 {
		margin-bottom: 25px;
	}
}

.ui-kit__row {
	display: flex;
	flex-wrap: wrap;
	.btn, button, a {
		margin-right: 10px;
		margin-bottom: 15px;
	}
}
//========================================================================================================================================================
