.page__ui-kit	{
	padding: 50px 0 100px 0;
	background: #c8cbd178;
}

.ui-kit__inner {
	display: flex;
	flex-wrap: wrap;
}

.ui-kit__col {
	flex: 0 1 50%;
	padding: 0 20px;
	margin-bottom: 65px;
	// border: 1px solid #000;
	border-radius: 3px;
}

// Заголовки
.ui-kit__title {
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 35px;
}

.ui-kit__inner {
	h1, h2, h3, h4 {
		margin-bottom: 25px;
	}
}

.ui-kit__row {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	margin-bottom: 15px;
	.btn, button, a {
		margin-right: 10px;
		margin-bottom: 15px;
	}
}

.ui-kit__row {
	.dropdown-list {
		margin-right: 15px;
		margin-bottom: 25px;
	}
	.options__item {
		margin-bottom: 10px;
	}
}
//========================================================================================================================================================

.ui-kit__col_fw {
	flex: 0 1 100%;
}